<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" /></head><body><div class="v1_5"><div class="v1_11"></div><div class="v1_13"></div><div class="v1_15"></div><div class="v1_17"></div><span class="v1_18">Calendar</span></div></body></html> <br/><br/> <style>* {
  box-sizing: border-box;}

<style>* {
  box-sizing: border-box;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.home_page {
  background-image: url("background_good.png");
  background-size: auto;
  background-size: cover;
  height: 50vh;
  border: 3px solid red;
}
</style>
