<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" /></head><body><div class="v1_5"><div class="v1_11"></div><div class="v1_13"></div><div class="v1_15"></div><div class="v1_17"></div><span class="v1_18">Calendar</span></div></body></html> <br/><br/> <style>* {
  box-sizing: border-box;}

<style>
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text{
  color: white;
text-align: center;
  margin-bottom: 100px;
}

.home_page {
  background-image: url("background_good.png");
  background-size: auto;
  background-size: cover;
  height: 75vh;
  /*border: 3px solid red;*/
}
</style>

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: 3em 3em auto;
  position: absolute;
}

.title {
  background: #217346;
  text-align: center;
  display: grid;
  place-content: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.days {
  background: #f3f2f1;
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: 3em 10px repeat(7, 1fr);
  position: sticky;
  top: 3em;
  z-index: 10;
  border-bottom: 2px solid #dadce0;
}

.day {
  border-left: 1px solid #dadce0;
}

.content {
  display: grid;
  grid-template-columns: 3em 10px repeat(7, 1fr);
  grid-template-rows: repeat(24, 3em);
}

.time {
  grid-column: 1;
  text-align: right;
  align-self: end;
  font-size: 80%;
  position: relative;
  bottom: -1ex;
  color: #70757a;
  padding-right: 2px;
}

.col {
  border-right: 1px solid #dadce0;
  grid-row: 1/span 24;
  grid-column: span 1;
}

.filler-col {
  grid-row: 1/-1;
  grid-column: 2;
  border-right: 1px solid #dadce0;
}

.row {
  grid-column: 2/-1;
  border-bottom: 1px solid #dadce0;
}

.event {
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 80%;
}

.weekend {
  background-color: #f1f3f4;
}

.calendar1 {
  background-color: #d7dbef;
  border-color: #bcc3e5;
}

.calendar2 {
  background-color: #b3e1f7;
  border-color: #81cdf2;
}


.event1 {
  grid-column: var(--event-1-height);
  grid-row: 9/span 4;
}

.event2 {
  grid-column: 5;
  grid-row: 10/span 6;
}

.event3 {
  grid-column: 7;
  grid-row: 8/span 10;
}

.event4 {
  grid-column: 8;
  grid-row: 21/span 2;
}

.current-time {
  grid-column: 6;
  grid-row: 10;
  border-top: 2px solid #ea4335;
  position: relative;
  top: calc(50% - 1px);
}

.circle {
  width: 12px;
  height: 12px;
  border: 1px solid #ea4335;
  border-radius: 50%;
  background: #ea4335;
  position: relative;
  top: -6px;
  left: -6px;
}

.current {
  font-weight: bold;
}


:root {
  --event-1-height:3;
  --event-2:1;
}

.customfile{
  border:3px solid rgb(119,221,119);
  border-radius: 50px;
  padding:2px;
  font-size: 15px;
}
.customfile::-webkit-file-upload-button{
  background: rgb(119,221,119);
  color: #fff;
  padding: 5px 8px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.discover {
  background-color: rgb(119,221,119);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.set_size {
  background-color: rgb(119,221,119);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}