html,body
{padding: 0px;}
* {margin: 0; border: 0; box-sizing: border-box;}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 25%; */
  height: 40vh;
}

.text{
  color: white;
  text-align: center;
  margin-bottom: 100px;
}

.home_page {
  /* background-image: url("background_good.png"); */
  background-image: url("images/bg.png");
  /* background-color: #a0a9da; */
  background-size: cover;
  height: 60vh;
  /*border: 3px solid red;*/
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: 3em 3em auto;
  position: absolute;
}

.title {
  background: #7967B3;
  text-align: center;
  display: grid;
  place-content: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.customfile{
  font-family: 'sans-serif';
  border:3px solid #7967B3;
  border-radius: 50px;
  padding:2px;
  font-size: 15px;
}
.customfile::-webkit-file-upload-button{
  font-family: 'sans-serif';
  background: #7967B3;
  color: #fff;
  padding: 5px 8px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.discover {
  background-color: #7967B3;
  font-family: 'sans-serif';
  border: none;
  border-radius: 50px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.set_size {
  background-color: #7967B3;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.calendar_background {
  /* background-image: url("images/bg.png"); */
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  /*border: 3px solid red;*/
}